<ul>
    {% for post in site.posts %}
      <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
      </h3>
      <p>
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }} 
        <a href="{{ post.url }}">[more]</a>
        <div class="highlight">
            <span class="gi">./</span><span class="c">{{ post.category }}</span>
            <span class="ss">@</span>
            <span class="c">{{ post.date | date_to_long_string }}</span>
            {% if post.tags %}
                <span class="c">[{{ post.tags | array_to_sentence_string }}]</span>
            {% endif %}
        </div>
      </p>
    {% endfor %}
</ul>