---
---

@import "{{ site.theme }}";

header h1 > a, footer.highlight .gi a {
    text-decoration: none;
    color: inherit;
    text-shadow: none;
}

.highlighter-rouge {
    color: #90a959;
}

p > img {
    max-width: 600px;
}

@media (max-width: 700px) {
    header h1 {
        margin: 0;
    }
}